<h1> Lista de Raças</h1>

<table>
    <thead> <!-- Cabeçalho da tabela-->
        <tr> <!--Linha da tabela-->
            <th>Código</th> <!--Coluna especifica do cabeçalho-->
            <th>Nome</th>
            <th>Espécie</th>
        </tr>
    </thead>
    <thead>
        <tbody><!--Lugar dos registros da tabela-->
            <tr>
                <td>1</td> <!--Coluna específica para body-->
                <td>Pinscher</td>
                <td>Cachorro</td>
            </tr>
        </tbody>
    </thead>
</table>