<h1> Lista de Raças</h1>

<div>
    <a href="/raca/cadastrar"> Cadastrar</a>
</div>

<table>
    <thead>
        <!-- Cabeçalho da tabela-->
        <tr>
            <!--Linha da tabela-->
            <th>Código</th> <!--Coluna especifica do cabeçalho-->
            <th>Nome</th>
            <th>Espécie</th>
        </tr>
    </thead>
    <thead>
    <tbody>       <!--Lugar dos registros da tabela-->
        @foreach(var raca in ViewBag.Racas)
            {
                <tr>
                    <!--Linha-->
                    <td>@raca.Id</td> <!--Coluna específica para Body-->
                    <td>@raca.Nome</td>
                    <td>@raca.Especie</td>
                </tr>
            }
            <tr>
            <td>1</td> <!--Coluna específica para body-->
            <td>Pinscher</td>
            <td>Cachorro</td>
        </tr>
    </tbody>
    </thead>
</table>